version: 1.0.{build}
branches:
  only:
  - appveyor
clone_depth: 1
environment:
  BOOST_ROOT: C:\Libraries\boost_1_59_0
build_script:
- git submodule init
- git submodule update
- md build
- cd build
- cmake -G"Visual Studio 14 Win64" -DSCRIPTS=False -DTOOLS=True ..
- msbuild /p:Configuration=Debug /p:DebugSymbols=false /p:Platform="X64" /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" TrinityCore.sln
artifacts:
- path: C:/projects/elunatrinitywotlk/build
  name: TrinityCoreWin64VS2015.zip
